$white: #FFF;
$black: #000;
$grey: #999;
$grey-75: rgba(153, 153, 153, .75);
$grey-dark: #333;
$grey-light: #E2E4E6;
$red: #c60f0f;
$blue-light: #00C2E0;
$blue-med: #026AA7;
$blue-bg: rgb(0, 121, 191);
